.card{
    border-radius: 0rem !important;
}

.margin{
    margin:15px !important;
}

.form-control{
    width: 100% !important;
}

.form-control, .btn{
    margin-top:5px;
    margin-bottom:5px;
}

@media screen  and (max-width: 568px){

    #searchListID{
        display: none;
    }
}